---
import { Image } from "astro:assets";
import "./style.css";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
const skies = await getCollection("skies");
const randomIndex = Math.floor(Math.random() * skies.length);
const randomSky = skies[randomIndex];
---

<Layout>
    <main id="theme-wrapper">
        <div class="mainContainer">
            <Image
                id="dynamic-img"
                src={randomSky.data.image}
                loading="eager"
                alt=""
                class="responsive round"
                style={{
                    "object-fit": "cover",
                    height: "70vh",
                }}
            />
        </div>
    </main>
</Layout>

<script>
    import materialDynamicColors from "material-dynamic-colors";

    async function applyTheme() {
        const img = document.getElementById("dynamic-img") as HTMLImageElement;
        const wrapper = document.getElementById("theme-wrapper");

        if (img && wrapper) {
            const theme = await materialDynamicColors(img.src);

            let cssVars = "";
            for (const [key, value] of Object.entries(theme.light)) {
                const darkColor = theme.dark[key];
                cssVars += `--md-${key}: light-dark(${value}, ${darkColor}); `;
            }

            wrapper.setAttribute(
                "style",
                cssVars + "height: 70vh; object-fit: cover;",
            );
        }
    }

    window.addEventListener("load", applyTheme);
</script>
