@media (min-width: 768px) {
    .mainPictureContainer {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }
}

article {
    display: flex;
    flex-direction: column;
    align-items: end;
    align-self: flex-end;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}

.shape {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 10;
}
