* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
}

img {
    width: 100vw;
    height: auto;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
@media (min-width: 768px) {
    img {
        width: 50vw;
        height: auto;
        border-radius: 20px;
    }
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

@media (min-width: 768px) {
    .mainContainer {
        height: 100vh;
        justify-content: center;
    }
}

body {
    font-family: "Times New Roman", Times, serif;
    background-color: var(--md-background);
}
