---

---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js"
        ></script>
        <link
            href="https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
            rel="stylesheet"
        />
        <script
            is:inline
            type="module"
            src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.4/dist/cdn/material-dynamic-colors.min.js"
        ></script>
        <title>skies</title>
    </head>
    <body>
        <body>
            <script is:inline>
                const themeCheck = window.matchMedia(
                    "(prefers-color-scheme: dark)",
                );

                const updateTheme = (e) => {
                    const isDark = e.matches;
                    if (typeof ui !== "undefined") {
                        ui("mode", isDark ? "dark" : "light");
                    }
                };

                updateTheme(themeCheck);

                themeCheck.addEventListener("change", updateTheme);
            </script>
            <slot />
        </body>
    </body>
</html>
